*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    color: #fff;
}
html,body{
    height: 100%;
}
.tudo{
    min-height: 100%;
}
* html #root{
    height: 100%;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(2, 47, 65) !important;
    color: #333;
}

/*grid-template-columns = Define o número total de colunas que serão criadas no grid. */
/* nesse exemplo abaixo, duas colunas serão criadas, sendo a primeira com 3x o tamanho da segunda e todas com um valor flex, ou seja responsivo */

/* grid-template-rows = Define a quantidade de linhas no grid. */
.container{   
    min-height: 100vh !important;
    padding-bottom: 80px;
}